<div class="basis-2/12 bg-black " style="padding: 0.5rem; border-right:1px solid white ;">
  <ul>
    <li><a class="text-zinc-400 text-xl py-3 px-5 rounded-md mb-3 w-full inline-block bg-black-700 hover:bg-gray-600"
        href="/">Home</a></li>
    <li><a class="text-zinc-400 text-xl py-3 px-5 rounded-md mb-3 w-full inline-block bg-black-700 hover:bg-gray-600"
        href="/addmovie">Add Movie</a>
    </li>
  </ul>
</div>