<header class="bg-black  py-5 px-5 flex justify-between items-center" style="border-bottom: 1px solid white;">
  <p class="text-white text-2xl font-black flex"><img src="/uploads/logo2.png" width="100px" alt=""></p>
  <ul class="flex  justify-between">
    <li class="px-5"><a href="" class="text-white">Home</a></li>
    <li class="px-5"><a href="" class="text-white">About</a></li>
    <li class="px-5"><a href="" class="text-white">Movies</a></li>
    <li class="px-5"><a href="" class="text-white">Services</a></li>
  </ul>
</header>